.video {
  width: 80%;

  @media (--mediaLaptop) {
    width: 80%;
  }

  @media (--mediaTablet) {
    width: 80%;
  }
}

.sidebarImages {
  display: grid;
  grid-template-columns: repeat(6, [col] 1fr);
  align-items: center;

  @media (--mediaTablet) {
    padding: 0 80px;
    margin-top: 60px;
  }

  @media (--mediaMobile) {
    padding: 0 20px;
    margin-top: 40px;
  }
}

.sidebarImage {
  &:first-child {
    grid-column: col 1 / span 4;
    grid-row: 1;
    position: relative;
    top: 5%;
    opacity: 0.4;
  }

  &:last-child {
    grid-column: col 3 / span 4;
    grid-row: 1;
    position: relative;
    top: -5%;
  }
}

.model {
  --width: 180%;
  --aspectRatio: 12 / 10;

  min-width: var(--width);
  aspect-ratio: var(--aspectRatio);
  display: grid;
  position: relative;

  &[data-device='phone'] {
    --width: 116%;
    --aspectRatio: 7 / 10;

    top: 5%;
    left: -10%;

    @media (--mediaDesktop) {
      --width: 108%;

      left: 0;
    }

    @media (--mediaTablet) {
      --width: 108%;

      left: 0;
      max-height: 60vh;
    }

    @media (--mediaMobile) {
      --width: 108%;

      left: 0;
      max-height: none;
    }
  }
}
